.introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-post, .blog-post p, .blog-post a{
    background-color: #1E293B;
}
.blog-post{
    margin-top: 1rem;
    padding: 1rem;
}
.blog-post a{
    color: #94A3B8;
}