<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <p class="name">Exan Fabry</p>
            <p class="tagline">Full Stack Developer</p>
        </div>
        
        <p class="copyright">
            © {{ currentYear }} Exan Fabry. All rights reserved.
        </p>

        <div class="footer-socials">
            <a href="https://www.linkedin.com/in/exan-fabry-5194ab231/" target="_blank">
                LinkedIn
            </a>
        </div>
    </div>
</footer>